@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Balmy';
  src: url('../public/fonts/BalmyBeta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
